<h1>TROUVER SA SERIE </h1>
<div *ngIf="userInfo">
    <h2>Informations sur l'utilisateur</h2>
    <p>Nom : {{ userInfo.username }}</p>
    <p>Email : {{ userInfo.email }}</p>
    <!-- Affichez d'autres informations utilisateur ici -->
  </div>
<div id="choixGenre" *ngIf="divVisible === 'choixGenre'">
    <ng-container *ngFor="let genre of genresUnique">

        <button class="btn btn-primary m-2" (click)="choisirGenre(genre)"
            [ngClass]="{'selected' : choix_genre.includes(genre), 'unselected' : !choix_genre.includes(genre)}">{{genre}}
        </button>
    </ng-container><br>
    <ng-container *ngIf="choix_genre.length >= 1; else noScore">
        <button class="suivantBtn btn btn-info mx-5" (click)="suivant()">Suivant</button>
    </ng-container>
    <ng-template #noScore>
        <button class="suivantBtn btn btn-info mx-5 disabled" (click)="suivant()">Suivant</button>
    </ng-template>
</div>

<div id="choixDuree" *ngIf="divVisible === 'choixDureeEp'">
    <button class="btn btn-success" (click)="choisirTrancheDuree({ debut : 0, fin : 9})" [ngClass]="{
        'selected' : isTrancheSelectedDuree({ debut : 0 , fin : 9}),
        'unselected' : !isTrancheSelectedDuree({ debut : 0 , fin : 9})
    }">
        moins de 10 min
    </button>
    <button class="btn btn-success m-5" (click)="choisirTrancheDuree({ debut : 10, fin : 30})" [ngClass]="{
        'selected' : isTrancheSelectedDuree({debut : 10, fin : 30}),
        'unselected' : !isTrancheSelectedDuree({debut : 10, fin : 30})
    }">
        Entre 10 et 30 min
    </button>
    <button class="btn btn-success" (click)="choisirTrancheDuree({ debut : 31, fin : infini })" [ngClass]="{
        'selected' : isTrancheSelectedDuree({ debut : 31 , fin : infini}),
        'unselected' : !isTrancheSelectedDuree({ debut : 31 , fin : infini})
    }">
        plus à 30 min 
    </button>
    <ng-container *ngIf="choix_dureeEp.length >= 1; else noDuree">
        <button class="suivantBtn btn btn-info mx-5" (click)="suivant()">Suivant</button>
    </ng-container>
    <ng-template #noDuree>
        <button class="suivantBtn btn btn-info mx-5 disabled" (click)="suivant()">Suivant</button>
    </ng-template>
    <button class="suivantBtn btn btn-info" (click)="retour()">Retour</button>
</div>


<div id="dateSortie" *ngIf="divVisible === 'dateSortie'">
    <button class="btn btn-danger m-2" (click)="choisirTrancheDate({ debut: 0, fin: 1970 })" [ngClass]="{
        'selected': isTrancheSelectedDate({ debut: 0, fin: 1970 }), 
        'unselected': !isTrancheSelectedDate({ debut: 0, fin: 1970 })
    }">
        Avant 1970
    </button>

    <button class="btn btn-danger m-2" (click)="choisirTrancheDate({ debut: 1971, fin: 1990 })" [ngClass]="{
        'selected': isTrancheSelectedDate({ debut: 1971, fin: 1990 }), 
        'unselected': !isTrancheSelectedDate({ debut: 1971, fin: 1990 })
    }">
        1971-1990
    </button>

    <button class="btn btn-danger m-2" (click)="choisirTrancheDate({ debut: 1991, fin: 2010 })" [ngClass]="{
        'selected': isTrancheSelectedDate({ debut: 1991, fin: 2010 }), 
        'unselected': !isTrancheSelectedDate({ debut: 1991, fin: 2010 })
    }">
        1991-2010
    </button>

    <button class="btn btn-danger m-2" (click)="choisirTrancheDate({ debut: 2011, fin: infini })" [ngClass]="{
        'selected': isTrancheSelectedDate({ debut: 2011, fin: infini }), 
        'unselected': !isTrancheSelectedDate({ debut: 2011, fin: infini })
    }">
        Après 2010
    </button>
    <ng-container *ngIf="choix_dateSortie.length >= 1; else noScore">
        <button class="suivantBtn btn btn-info mx-5" (click)="suivant()">Suivant</button>
    </ng-container>
    <ng-template #noScore>
        <button class="suivantBtn btn btn-info mx-5 disabled" (click)="suivant()">Suivant</button>
    </ng-template>
    <button class="suivantBtn btn btn-info" (click)="retour()">Retour</button>
</div>

<div id="pressScore" *ngIf="divVisible === 'pressScore'">
    <button class="btn btn-warning m-2" (click)="choisirScore(1)"
        [ngClass]="{'selected' : choix_score.includes(1), 'unselected' : !choix_score.includes(1)}">*</button>
    <button class="btn btn-warning m-2" (click)="choisirScore(2)"
        [ngClass]="{'selected' : choix_score.includes(2), 'unselected' : !choix_score.includes(2)}">**</button>
    <button class="btn btn-warning m-2" (click)="choisirScore(3)"
        [ngClass]="{'selected' : choix_score.includes(3), 'unselected' : !choix_score.includes(3)}">***</button>
    <button class="btn btn-warning m-2" (click)="choisirScore(4)"
        [ngClass]="{'selected' : choix_score.includes(4), 'unselected' : !choix_score.includes(4)}">****</button>
    <button class="btn btn-warning m-2" (click)="choisirScore(5)"
        [ngClass]="{'selected' : choix_score.includes(5), 'unselected' : !choix_score.includes(5)}">*****</button>
    <ng-container *ngIf="choix_score.length >= 1; else noScore">
        <button class="suivantBtn btn btn-info mx-5" (click)="suivant()">Suivant</button>
    </ng-container>
    <ng-template #noScore>
        <button class="suivantBtn btn btn-info mx-5 disabled" (click)="suivant()">Suivant</button>
    </ng-template>
    <button class="suivantBtn btn btn-info" (click)="retour()">Retour</button>
</div>

<div class="serieAleatoire" *ngIf="divVisible === 'serieAleatoire'">
    <button class="suivantBtn btn btn-info" (click)="retour()">Retour</button>
    <ng-container *ngIf="selectedRandomSerie;else noSerieFound">
        <h2>{{selectedRandomSerie.titre}}</h2>
        <p><strong>Note de la presse : </strong> {{selectedRandomSerie.press_score}} * </p>
        <ng-container *ngIf="selectedRandomSerie.illustration_url !== null; else pasIllu">
            <img id="illuSerie" src="{{selectedRandomSerie.illustration_url}}" alt="">
        </ng-container>
        <ng-template #pasIllu>
            <img id="noIllu" src="assets/image/ORQ.png" alt="">
        </ng-template>
        <p><strong>Date de sortie : </strong>{{selectedRandomSerie.date_de_sortie}}</p>
        <p><strong>Genre(s) : </strong>{{selectedRandomSerie.genres}}</p>
        <p><strong>Synopsis : </strong> {{selectedRandomSerie.synopsis}}</p>
        <p><strong>Duree moyenne d'un épisode : </strong>{{selectedRandomSerie.duree_moyenne_episode}} min </p>
    </ng-container>

    <ng-template #noSerieFound>
        <p>Aucune Série trouvée veuillez ajuster vos critères</p>
    </ng-template>
    <button class="btn btn-dark mx-5" (click)="selectRandomSerie()">Propose moi autre chose</button>
    <button class="btn btn-primary" (click)="ajouterWatchList(selectedRandomSerie)">Ajouter à la watchlist</button>
</div>

<!-- !!!!!!!!! NOTE A MOI MEME N'OUBLIE PAS DE SUPPRIMER CETTE PARTIE !!!!!!!!!!!!! -->
 <button class="btn btn-secondary my-5" (click)="clear()">NETTOYER CONSOLE</button> 
<!-- <button class="btn btn-dark my-5" (click)="selectAll()">TOUT SELECTIONNER</button>  -->
<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->




