* {
    color: white;
    text-align: center;
}

h1 {
    padding: 1%;
    color: black;
}
.corps2{
    border-radius: 5%;
    padding: 1%;
}

#seriesCard {
    display: flex;
    justify-content: center;
    margin: 20px;
    text-align: center;
    border-radius: 5%;
    --c: #FFC800; /* the border color */
    --b: 5px;    /* the border thickness*/
    --g: 5px;     /* the gap on hover */
    
    padding: calc(var(--g) + var(--b));
    --_g: #FFC800 25%,var(--c) 0;
    background: 
      conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g))
       var(--_i,200%) 0  /200% var(--_i,var(--b))  no-repeat,

      conic-gradient(            at bottom var(--b) left  var(--b),var(--_g))
       0   var(--_i,200%)/var(--_i,var(--b)) 200%  no-repeat #252525; 
    transition: .3s, background-position .3s .3s;
    color: white;
    border: none;
}

#seriesCard:hover {
  --_i: 100%;
  transition: .3s, background-size .3s .3s;
  color: black;
}

.selected {
    border: 5px solid #FFC800 !important;
    transform: scale(1.1);
}

#noIllu {
    width: 30%;
}

.genre-image {
    border-radius: 5%;
}

.btnNext {
    border: none;
    background-image: linear-gradient(to right, #4b4b4b 0%, rgb(17, 17, 17) 100%);
    color: white;
    font-size: 0.9em;
    cursor: pointer;
    box-shadow: 0 4px 15px #4b4b4b7f;
    transition: transform 0.2s, box-shadow 0.2s;
    border-radius: 3px;
}

.btnNext:hover {
    transform: translateY(-3px);
    box-shadow: 0 7px 20px #4b4b4b7f;
}

.btnPrevious {
    padding: 5px 10px;
    border: none;
    background: linear-gradient(to right, rgba(255,143,143,1) 0%, rgba(255,0,0,1) 50%);
    color: white;
    font-size: 0.9em;
    cursor: pointer;
    box-shadow: 0 4px 15px #4b4b4b7f;
    transition: transform 0.2s, box-shadow 0.2s;
    border-radius: 3px;
    margin-right: 20px;
}

.btnPrevious:hover {
    transform: translateY(-3px);
    box-shadow: 0 7px 20px #ff0000;
}

.btnStar {
    padding: 5px 10px;
    border: 2px solid #FFC800;
    background-image: linear-gradient(to right, #4b4b4b 0%, rgb(17, 17, 17) 100%);
    color: white;
    font-size: 0.9em;
    cursor: pointer;
    box-shadow: 0 4px 15px #4b4b4b7f;
    transition: transform 0.2s, box-shadow 0.2s;
    border-radius: 3px;
    margin: 10px 12px;
}

.btnStar:hover {
    transform: translateY(-3px);
    box-shadow: 0 7px 20px #4b4b4b7f;
}

.btn-annee {
    background-image: linear-gradient(to right, #4b4b4b 0%, rgb(17, 17, 17) 100%);
    margin: 10px;
    --c: #FFC800; /* the border color */
    --b: 5px;    /* the border thickness*/
    --g: 5px;     /* the gap on hover */
    
    padding: calc(var(--g) + var(--b));
    --_g: #FFC800 25%,var(--c) 0;
    background: 
      conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g))
       var(--_i,200%) 0  /200% var(--_i,var(--b))  no-repeat,

      conic-gradient(            at bottom var(--b) left  var(--b),var(--_g))
       0   var(--_i,200%)/var(--_i,var(--b)) 200%  no-repeat #252525; 
    transition: .3s, background-position .3s .3s;
    color: white;
    border: none;
}

.btn-annee:hover {
    --_i: 100%;
    transition: .3s, background-size .3s .3s;
    color: black;
}


/* ------ Division serie aléatoire ------ */

.serieAleatoire {
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 650px;
}

.serieAleatoire h2, p, strong{
    color: black;
}

.serieAleatoire-btn {
    display: flex;
    justify-content: space-between;
}

.serieAleatoire-btn .btn-retour {
    font-size: 50px;
    background: transparent;
    border: none;
    color: black;
    margin-bottom: 15px
}

.serieAleatoire .other-series {
    background-image: linear-gradient(to right, #4b4b4b 0%, rgb(17, 17, 17) 100%);
    font-size: 15px;
    border-radius: 5px;
}

.serieAleatoire .btn-series {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.serieAleatoire-btn button:hover {
    color: #FFC800;
}

.span {
    color: black;
    font-size: 15px;
}

.serie-proposer{
    display: flex;
    justify-content: center;
}

.div-infoSerie {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 30px;
    width: 800px;
    height: 350px;
}

.synopsis {
    text-align: start;
}

/* ------ Division pop up series ------ */

.historiqueLi{
    color: black;
    list-style-type: none;
    cursor: pointer;
}

#pop-up-series {
    display: flex;
    justify-content: center;
    flex-direction: column;    
}

#pop-up-series .other-series {
    background-image: linear-gradient(to right, #4b4b4b 0%, rgb(17, 17, 17) 100%);
    font-size: 15px;
    border-radius: 5px;
    width: 200px;
}

#pop-up-btn {
    display: flex;
    justify-content: space-around;
}

#pop-up-info {
    color: black;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

#pop-up-affiche {
    display: flex;
    justify-content: center;
}