.container {
    background-color: black;
    display: flex;
    color: white;
    margin: 0;
    padding: 0;
    min-height: auto;
}



h3 {
    text-align: center;
    font-size: 50px;
    margin-top: 3%;
}

#leftDiv {
    background-size: contain;
    background-repeat: no-repeat;
    width: 40%;
    height: auto;
}

#rightDiv {
    width: 58%;
    height: auto;
    margin-right: 2%;
}

#infoUn {
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
    padding: 0 10% 0 10%;
}

#synopsis {
    margin-top: 10%;
}

.fa-star{
    color: #FFC800;
}