<h2>Ma Watchlist</h2>

<div *ngIf="userInfo">
    <h2>Informations sur l'utilisateur</h2>
    <p>Nom : {{ userInfo.username }}</p>
    <p>Email : {{ userInfo.email }}</p>
    <!-- Affichez d'autres informations utilisateur ici -->
  </div>
<div *ngIf="watchlist.length === 0">
  <p>Aucune série dans la watchlist.</p>
</div>
<ul *ngIf="watchlist.length > 0">
  <li *ngFor="let oeuvre of watchlist">
    <h4>{{ oeuvre.titre }}</h4>
    <ng-container *ngIf="oeuvre.illustration_url !== null; else pasIllu" >
      <img src="{{oeuvre.illustration}}" alt="illustration" id="illuSerie"><br>
    </ng-container>
    <ng-template #pasIllu>
      <img src="assets/image/ORQ.png" alt="noIllu"><br>
    </ng-template>
    id : {{ oeuvre.id }}<br>
    vu :
<i class="fa-regular fa-eye" [ngClass]="{ 'checked': oeuvre.vu }" (click)="updateWatchlist(oeuvre.id, { vu: !oeuvre.vu })"></i>
<br>
    En cours :
    <input type="checkbox" [(ngModel)]="oeuvre.en_cours" (change)="updateWatchlist(oeuvre.id, { en_cours: oeuvre.en_cours })"><br>
   <textarea [(ngModel)]="oeuvre.mon_avis" (input)="updateTempMonAvis($event)" placeholder="Mon avis"></textarea>
   <button (click)="sendMonAvis(oeuvre.id)">Mettre à jour</button>
    <button (click)="removeFromWatchlist(oeuvre.id)">Retirer de la watchlist</button>
  </li>
</ul>

